sudo: required
services:
  - docker
before_install:
  - openssl aes-256-cbc -K $encrypted_0c35eebf403c_key -iv $encrypted_0c35eebf403c_iv -in service-account.json.enc -out service-account.json -d # see step 55
  - curl https://sdk.cloud.google.com | bash > /dev/null; # Download GCloud SDK
  - source $HOME/google-cloud-sdk/path.bash.inc # Apply configuration
  - gcloud components update kubectl # Install and update kubectl inside Travis environment
  - gcloud auth activate-service-account --key-file service-account.json # Grant GCloud SDK, access to our account
  - gcloud config set project multi-k8s-237913 # Project name from GCloud
  - gcloud config set compute/zone us-central1-a # Zone from GCloud (Menu => Kubernetes Engine => Clusters => Value of location)
  - gcloud container clusters get-credentials multi-cluster # From GCloud (Menu => Kubernetes Engine => Clusters => Value of Name)
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t khjomaa/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run khjomaa/react-test npm test -- --coverage
